<!-- <div class="divForm">
  <form class="" >
    <div class="row m-0">
      <div class="col-md-4 p-0">
        <input type="text" class="form-control inptName" placeholder="Entrez une période svp" aria-label="First name">
      </div>
      <div class="col-md-5">
        <select id="inputState" class="form-select inptName" name="libelle" (change)="changeMeteo($event)">
          <option selected>Choisissez une ville</option>
          <option *ngFor="let city of cities" value="{{city.libelle}}">{{city.libelle}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </form>
</div> -->


  <div class="container-fluid">

  <div class="d-flex justify-content-center card" style="background-color: rgb(97, 134, 194);color: white;">

    <table>
      <tr>
        <td colspan="5">Météo actuelle</td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="image"></div>
        </td>
        <td class="mr-10"><h3>{{ temp | async }}°C</h3></td>
      </tr>
      <tr><td colspan="5"></td></tr>
      <tr> <td colspan="5"></td></tr>
      <tr><td colspan="5"></td></tr>

    </table>

  </div>



 </div>


  <app-chartjs [data]="data" [label]="label"></app-chartjs>


